/* common css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;700&display=swap');

.font-size-color{
    color: #131313;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight:700 ;
}
.another{
    color:#727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    width: 180px;
    height: 64px;
    flex-shrink: 0; 
    border-radius: 8px;
    background: #FF900E;  
    border: none; 
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
}
.btn:hover{
    border:2px solid rgb(145, 139, 139);
}
/*                   */

/*                   */
/*                   */
/* first section */
header{
    background-color: rgba(255, 144, 14, 0.10) ;
    height: 1322px;
}
.nav{
    display: flex;
    
    justify-content: space-between;
    padding: 0 14.25rem;
    align-items: center;
    
}
.nav-li{

    display: flex;
}
.nav-li li{
    padding-right: 30px;
    list-style: none;


    
}
.nav-li li a{
    text-decoration: none;
    color:#424242;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;

}
.nav .font-size-color{
    font-size:45px ;
}
.banner-text p{
    text-align: center;
}
.banner-text h3{
    text-align: center;
    font-size: 64px;
    margin-top: 30px;
}

header .button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
header .img{
 
    margin: 30px 15rem;


    
}
img{
    width: 100%;
}

/* body part */
.body-cont-text{
    display: flex;
    flex-direction: column;
}
.body-cont{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 50px 250px;
}
.body-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

}
.body-cont-text>h3{
    font-size: 45px;
    font-weight: 700;

}
.quick{
    font-size: 45px;
    font-weight: 500;   
}
.body-two-con{
    display: flex;
    
    justify-content:space-between;


}
/* body part 2 */
.body-two-text{
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    
}
.body-two-text h2,p{
    padding-left: 30px;
}
.body-two-text h3{
    border-left: 5px solid #FF900E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:21px ;
    border-width: 5px; 
}
.body-two-text .fea-p{
    padding-left: 0px;

}
.body-two-text .font-size-color{
    font-size: 45px;
    color: rgb(1, 136, 95);
}
.body-two-con p{
    font-size: 16px;
    font-weight: 400;
    font-family: Work Sans;
}
.body-two-text div{
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;
}
.body-two-con .arc-img{   
    width: 100%;
    padding: 46px,42px;
    
}
.body-two-btn{
    margin-left: 1100px;
}
.body-two-btn .btn{
    height: 200px;
    width: 342px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    position: relative;
    bottom: 120px;
}
.body-two-btn .btn>span{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}














/* media 992*/
@media screen and (max-width:576px) {
    .nav{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }  
    header .img{
        margin: 10px;
    }
    .body-cont{
        display: flex;
        flex-direction: column;
        margin: 2px;    
    }
    .body-two-con{
        display:flex;
        flex-direction: column;
    }
    .body-two-text{
        margin: 20px;
    }
    .body-two-btn{
        margin-left: 20px;
        position: relative;
        top: 70px;

    }


}
@media screen and (min-width:576.1px) and (max-width:992px)  {
    .nav{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    header .img{
        margin: 30px;
    }
    .body-cont{
        display: flex;
        flex-direction: column;
        margin: 10px;    
    }
    .body-two-con .arc-img-t{   
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .body-two-con{
        display:flex;
        flex-direction: column;
    }
    .body-two-text{
        margin: 20px;
    }
    .body-two-btn{
        margin-left: 520px;
        position: relative;
        bottom: 80px;
    }
    .body-two-btn{
        margin-left: 20px;
        position: relative;
        bottom: 80px;
    }

}
@media screen and (min-width:992.1px) and (max-width:1400px){
    .nav{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    header .img{
        margin: 50px;
    }
    .body-cont{
        display: flex;
        flex-direction: column;
        margin: 20px;    
    }
    .body-two-con .arc-img-t{   
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .body-two-text{
        margin: 80px;
    }
    .body-two-btn{
        margin-left: 520px;
        position: relative;
        bottom: 120px;
    }
    
}
